@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 240, 240);
}

.ham-container {
  @include flex(center, center);
  width: 30px;
  height: 30px;
  position: fixed;
  right: 15px;
  z-index: 1;
  background-color: transparent;

  .linje {
    position: absolute;
    background: black;
    height: 4px;
    width: 100%;
  }
}

header,
footer {
  height: 110px;
  width: 100%;
  background-color: rgb(146, 177, 153);
  box-shadow: 5px 5px 5px 5px rgb(173, 165, 165);
}

header {
  @include flex(center, center);
  font-size: 20px;
  color: white;
}

footer {
  @include flex(center, center);
}

main {
  padding: 60px;
  margin: 60px;
  background-color: rgb(255, 255, 255);
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .img-container {
    @include flex(center, center);
    flex-direction: column;
    margin-top: 10px;

    img {
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: 10px 5px 5px rgb(173, 165, 165);
    }
  }
}

.choose-art {
  top: 20px;
  width: 7%;

  .bar {
    position: fixed;
    top: 35px;
    right: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    z-index: 0;
    border-radius: 10px;
    border: solid 0.3em;
    border-color: rgb(145, 139, 139);

    .sec {
      margin-top: 80px;
      margin-left: 15px;
      display: none;
      font-size: 100%;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      background-color: rgb(146, 177, 153);
    }
  }
}

.ham-container::before,
.ham-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
}

.ham-container::before {
  top: 5px;
}
.ham-container::after {
  bottom: 5px;
}

h1 {
  margin-bottom: 20px;
  background-color: rgb(146, 177, 153);
  font-family: "Prata", Verdana, serif;
}

h2 {
  font-family: "Spectral", Verdana, serif;
}

.barActive {
  height: 600px;
  width: 300px;
  background-color: rgb(146, 177, 153);
}

.link {
  display: initial;
  margin-left: 10px;
  background-color: rgb(146, 177, 153);
}

.links {
  display: flex;
  flex-direction: row;
  background-color: rgb(146, 177, 153);
}

#logo {
  margin-left: 40%;
  margin-top: 40%;
  display: none;
}

.p-link {
  background-color: rgb(146, 177, 153);
}

section {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 70px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(219, 221, 210);
  }

  header,
  h1,
  footer,
  .p-link,
  .links,
  .link,
  .sec {
    background-color: wheat;
  }

  h1 {
    color: black;
  }

  h2 {
    font-size: 19px;
  }

  .sec {
    color: black;
  }

  article,
  p,
  h2,
  .img-container,
  section {
    background-color: rgb(238, 240, 228);
  }

  .bar {
    width: 37%;
    background-color: wheat;
  }

  img {
    width: 100px;
    height: 100px;
  }

  #logo {
    width: 50px;
    height: 50px;
    margin-left: 37%;
    margin-top: 60%;
  }

  p {
    font-size: 14px;
  }
}
