* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8f4f4;
}

body {
  background-color: #dbddd2;
}

.ul-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  margin-bottom: 8%;
}

.ham-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 15px;
  z-index: 1;
  background-color: transparent;
}

.ham-container .linje {
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ham-container .linje::before, .ham-container .linje::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ham-container .linje::before {
  top: 25%;
}

.ham-container .linje::after {
  bottom: 25%;
}

.activeBtn {
  z-index: 9999;
}

.activeBtn .linje {
  background: transparent;
}

.activeBtn .linje::before {
  -webkit-transform: translateY(6.5px) rotate(45deg);
          transform: translateY(6.5px) rotate(45deg);
}

.activeBtn .linje::after {
  -webkit-transform: translateY(-6.5px) rotate(-45deg);
          transform: translateY(-6.5px) rotate(-45deg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: white;
}

header .ham-container::before {
  top: 5px;
}

header .ham-container::after {
  bottom: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header,
footer {
  height: 110px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px 5px #ada5a5;
          box-shadow: 5px 5px 5px 5px #ada5a5;
}

header,
h1,
footer,
.p-link,
.links,
.link {
  background-color: #d1e7d0;
}

.choose-art {
  top: 20px;
  width: 7%;
}

.choose-art .bar {
  position: fixed;
  top: 35px;
  right: 0;
  width: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  border-radius: 10px;
  border: solid 0.3em;
  border-color: #918b8b;
  display: none;
}

.choose-art .bar .sec {
  margin-top: 80px;
  margin-left: 15px;
  display: none;
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  color: black;
}

h1 {
  color: black;
  margin-bottom: 20px;
  font-family: "Prata", Verdana, serif;
  font-size: 100%;
}

main {
  padding: 40px;
  margin: 40px;
  background-color: #e9e7e3;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}

main .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

main .img-container img {
  width: 50%;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 4px 4px #ada5a5;
          box-shadow: 5px 4px 4px #ada5a5;
}

main h2 {
  font-size: 19px;
  font-family: "Nunito Sans", sans-serif, verdana;
}

main h3 {
  font-size: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
}

main img {
  width: 100px;
  height: 100px;
}

main p {
  margin-top: 20px;
  font-size: 19px;
}

main #art-two,
main #art-three {
  margin-top: 130px;
}

main article {
  border-radius: 10px;
}

main article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

main .list {
  width: 70%;
  font-size: 15px;
}

main .list .element {
  font-size: 17px;
}

.links {
  background-color: #d1e7d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links .link {
  margin-left: 10px;
  background-color: #d1e7d0;
}

.bar {
  width: 37%;
  background-color: #d1e7d0;
}

.barActive {
  height: 600px;
  width: 300px;
  background-color: #d1e7d0;
}

@media only screen and (min-width: 600px) {
  header,
  footer,
  .p-link,
  .barActive {
    background-color: #728877;
  }
  .links {
    background-color: #728877;
  }
  .links .link {
    background-color: #728877;
  }
  h1 {
    background-color: transparent;
    color: white;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .barActive a {
    color: white !important;
  }
  h1 {
    font-size: 40px;
  }
  main {
    padding: 80px;
    margin: 70px;
  }
  main .img-container img {
    height: 340px;
    width: 35%;
    margin-top: 20%;
  }
  main h2 {
    font-size: 30px;
  }
  main h3 {
    font-size: 20px;
  }
  main p {
    font-size: 20px;
  }
  main .element {
    font-size: 18px;
  }
  main #art-two,
  main #art-three {
    margin-top: 160px;
  }
  main .text-container {
    text-align: center;
    width: 60%;
    margin-bottom: 5%;
  }
  main .ul-container {
    width: 50%;
  }
  main .ul-container .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: transparent;
  }
  article section .list {
    font-size: 15px;
    width: 70%;
  }
  .ham-container .linje {
    background: white;
  }
  .ham-container .linje::before, .ham-container .linje::after {
    background: white;
  }
  .activeBtn .linje {
    background: transparent;
  }
  .choose-art .bar {
    width: 25%;
  }
  .p-link {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */